* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(
    180deg,
    #0f0c29 -11.94%,
    #302b63 51.32%,
    #24243e 113.28%
  );
}

p {
  font-size: 20px;
  color: white;
  margin-top: 25px;
  text-align: center;
}

h1 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 165px;
}

input {
  width: 342px;
  height: 74px;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 17px;
  padding-left: 26px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: black;
  width: 375px;
  height: 85px;
  border: none;
  color: white;
  font-size: 16px;
}

button:active {
  opacity: 0.6;
  cursor: pointer;
}

a {
  margin-top: 205px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
